
@font-face{
    font-family:'Circle Frame Neg MT';
    src:url('../assets/fonts/CircleFrameNegMT.ttf');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Akko Pro Medium';
    src:url('../assets/fonts/AkkoPro-Medium.ttf');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Noteworthy Light';
    src:url('../assets/fonts/Noteworthy-Light.ttc');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'DIN Next LT Pro Medium Condensed';
    src:url('../assets/fonts/DINNextLTPro-MediumCond.ttf');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Caecilia eText';
    src:url('../assets/fonts/CaeciliaeText-Italic.ttf');
    font-weight:normal;
    font-style:italic;
}
@font-face{
    font-family:'Akko Pro Condensed';
    src:url('../assets/fonts/AkkoPro-Condensed.ttf');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Caecilia eText';
    src:url('../assets/fonts/CaeciliaeText.ttf');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Caecilia eText';
    src:url('../assets/fonts/CaeciliaeText-Bold.ttf');
    font-weight:bold;
    font-style:normal;
}
@font-face{
    font-family:'Akko Pro Medium';
    src:url('../assets/fonts/AkkoPro-MediumItalic.ttf');
    font-weight:normal;
    font-style:italic;
}
@font-face{
    font-family:'Akko Pro Regular';
    src:url('../assets/fonts/AkkoPro-Regular.ttf');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Akko Pro Light';
    src:url('../assets/fonts/AkkoPro-Bold.ttf');
    font-weight:bold;
    font-style:normal;
}
@font-face{
    font-family:'Akko Pro Medium Condensed';
    src:url('../assets/fonts/AkkoPro-MediumCondensed.ttf');
    font-weight:normal;
    font-style:normal;
}
@font-face{
    font-family:'Zapf Essentials Arrows One';
    src:url('../assets/fonts/ZapfEssentialsArrowsOne.ttf');
    font-weight:normal;
    font-style:normal;
}

.qxpASDImage{
    position:absolute;
    top:0px;
    left:0px;
}.char-Normal-Local-15 {
    font-family:'Akko Pro Regular','AkkoPro-Regular','Akko Pro';
    font-size:240px;
    font-weight:normal;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#262526;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Regulartext-24 {
    font-family:'Akko Pro Light','AkkoPro-Bold','Akko Pro';
    font-size:480px;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:white;
    position:absolute;
    left:0px;
    top:0px;
}
.char-Normal-Local-17 {
    font-family:'Akko Pro Medium Condensed','AkkoPro-MediumCondensed';
    font-size:200px;
    font-weight:normal;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#93A7B8;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-TOC-3 {
    font-family:'Zapf Essentials Arrows One','ZapfEssentialsArrowsOne';
    font-size:360px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#CABCD8;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-TOC-105 {
    font-family:'Akko Pro Medium Condensed','AkkoPro-MediumCondensed';
    font-size:360px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#93A7B8;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-TOC-5 {
    font-family:'Akko Pro Light','AkkoPro-Bold','Akko Pro';
    font-size:360px;
    font-weight:bold;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#93A7B8;
    position:absolute;
    left:0px;
    top:0px;
}
.char-Normal-Local-99 {
    font-family:'Akko Pro Medium Condensed','AkkoPro-MediumCondensed';
    font-size:200px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#93A7B8;
    position:absolute;
    left:0px;
    top:0px;
}
.char-Normal-Local-73 {
    font-family:'Akko Pro Medium Condensed','AkkoPro-MediumCondensed';
    font-size:200px;
    font-weight:normal;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#C8BDA6;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Caption-35 {
    font-family:'Caecilia eText','CaeciliaeText';
    font-size:240px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#494849;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Caption-38 {
    font-family:'Caecilia eText','CaeciliaeText-Italic';
    font-size:240px;
    font-weight:normal;
    font-style:italic;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#494849;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Caption-94 {
    font-family:'Akko Pro Condensed','AkkoPro-Condensed';
    font-size:180px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#494849;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Regulartext-22 {
    font-family:'Caecilia eText','CaeciliaeText';
    font-size:280px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#494849;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Regulartext-30 {
    font-family:'Akko Pro Light','AkkoPro-Bold','Akko Pro';
    font-size:280px;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:white;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Regulartext-20 {
    font-family:'Caecilia eText','CaeciliaeText-Italic';
    font-size:280px;
    font-weight:normal;
    font-style:italic;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#494849;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Regulartext-52 {
    font-family:'Caecilia eText','CaeciliaeText-BoldItalic';
    font-size:240px;
    font-weight:bold;
    font-style:italic;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:white;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Heading-27 {
    font-family:'Akko Pro Light','AkkoPro-Bold','Akko Pro';
    font-size:360px;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#93A7B8;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Aside-29 {
    font-family:'DIN Next LT Pro Medium Condensed','DINNextLTPro-MediumCond','DIN Next LT Pro';
    font-size:280px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:white;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Caption-41 {
    font-family:'Caecilia eText','CaeciliaeText-Bold';
    font-size:240px;
    font-weight:bold;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#E1926A;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Regulartext-43 {
    font-family:'Caecilia eText','CaeciliaeText-Bold';
    font-size:280px;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#494849;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Regulartext-19 {
    font-family:'Akko Pro Light','AkkoPro-Bold','Akko Pro';
    font-size:320px;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#93A7B8;
    position:absolute;
    left:0px;
    top:0px;
}
.char-Normal-Local-10 {
    font-family:'Akko Pro Light','AkkoPro-Bold','Akko Pro';
    font-size:480px;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#D5C9DF;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Aside-21 {
    font-family:'Akko Pro Medium','AkkoPro-MediumItalic','Akko Pro';
    font-size:280px;
    font-weight:normal;
    font-style:italic;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:white;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Regulartext-16 {
    font-family:'Akko Pro Light','AkkoPro-Bold','Akko Pro';
    font-size:320px;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#494849;
    position:absolute;
    left:0px;
    top:0px;
}
.char-Normal-Local-42 {
    font-family:'Caecilia eText','CaeciliaeText-Italic';
    font-size:160px;
    font-weight:normal;
    font-style:italic;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#494849;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Regulartext-25 {
    font-family:'Caecilia eText','CaeciliaeText-Bold';
    font-size:280px;
    font-weight:bold;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#F17D5C;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Regulartext-45 {
    font-family:'Caecilia eText','CaeciliaeText-Bold';
    font-size:280px;
    font-weight:bold;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#494849;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Quotedletter-49 {
    font-family:'Caecilia eText','CaeciliaeText-BoldItalic';
    font-size:280px;
    font-weight:bold;
    font-style:italic;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#494849;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Quotedletter-46 {
    font-family:'Caecilia eText','CaeciliaeText-Italic';
    font-size:280px;
    font-weight:normal;
    font-style:italic;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#494849;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Regulartext-44 {
    font-family:'Circle Frame Neg MT','CircleFrameNegMT';
    font-size:280px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#A4B5C3;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Regulartext-64 {
    font-family:'Caecilia eText','CaeciliaeText';
    font-size:280px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#494849;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Aside-8 {
    font-family:'Akko Pro Medium','AkkoPro-Medium','Akko Pro';
    font-size:280px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:white;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Caption-76 {
    font-family:'Akko Pro Condensed','AkkoPro-Condensed';
    font-size:180px;
    font-weight:normal;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#494849;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Subhead-111 {
    font-family:'Akko Pro Light','AkkoPro-Bold','Akko Pro';
    font-size:280px;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#93A7B8;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Subhead-109 {
    font-family:'Akko Pro Medium Condensed','AkkoPro-MediumCondensed';
    font-size:280px;
    font-weight:normal;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#93A7B8;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Caption-88 {
    font-family:'Caecilia eText','CaeciliaeText-Bold';
    font-size:240px;
    font-weight:bold;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#F17D5C;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Aside-57 {
    font-family:'DIN Next LT Pro Medium Condensed','DINNextLTPro-MediumCond','DIN Next LT Pro';
    font-size:280px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#FBECAD;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-ChapterStart-66 {
    font-family:'Akko Pro Light','AkkoPro-Bold','Akko Pro';
    font-size:480px;
    font-weight:bold;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:white;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Regulartext-67 {
    font-family:'Akko Pro Light','AkkoPro-Bold','Akko Pro';
    font-size:280px;
    font-weight:bold;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:white;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Heading-0 {
    font-family:'Akko Pro Light','AkkoPro-Bold','Akko Pro';
    font-size:360px;
    font-weight:bold;
    text-decoration:none;
    text-transform:uppercase;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#93A7B8;
    letter-spacing:-0.1em;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Regulartext-60 {
    font-family:'Noteworthy-Light','Noteworthy Light','Noteworthy';
    font-size:280px;
    font-weight:normal;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#494849;
    position:absolute;
    left:0px;
    top:0px;
}
.char-of-Regulartext-103 {
    font-family:'Caecilia eText','CaeciliaeText-Bold';
    font-size:280px;
    font-weight:bold;
    text-decoration:none;
    -webkit-font-kerning:Normal;
    font-kerning:Normal;
    -webkit-font-variant-ligatures:no-common-ligatures;
    font-variant-ligatures:no-common-ligatures;
    -webkit-font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    font-feature-settings:"rlig" 0, "liga" 0, "clig" 0, "calt" 0, "locl" 0, "ccmp" 0, "mark" 0, "mkmk" 0;
    color:#E1926A;
    position:absolute;
    left:0px;
    top:0px;
}
.QxpSVG {
    position:inherit;
}
.QxpImage {
    position:absolute;
    top:0px;
    left:0px;
}
.QxpFlexImage {
    width:100%;
    height:100%;
    vertical-align:top;
}
.QxpImgKeepAR {
    width:100%;
    height:auto;
    vertical-align:top;
}
.QxpAnchImage {
    position:static;
    top:0px;
    left:0px;
}
.QxpSuperscript {
    line-height:1;
    font-size:0.6em;
    vertical-align:baseline;
}
.QxpSubscript {
    line-height:1;
    font-size:1em;
    vertical-align:baseline;
}
.QxpTextBox {
    position:absolute;
    left:0px;
    top:0px;
    white-space:nowrap;
    width:100%;
    height:100%;
    line-height:1;
    transform-origin:0% 0%;
    -webkit-transform-origin:0% 0%;
    transform:scale(0.05, 0.05);
    -webkit-transform:scale(0.05, 0.05);
}
.QxpVertTextBox {
    position:absolute;
    white-space:nowrap;
    width:100%;
    height:100%;
    top:0px;
    right:0px;
    line-height:1;
    transform-origin:100% 0%;
    -webkit-transform-origin:100% 0%;
    transform:scale(0.05, 0.05);
    -webkit-transform:scale(0.05, 0.05);
}
